<!DOCTYPE html>
<html>
<head>

<title>Mission Briefing</title>
<link rel="stylesheet" href="/css/main.css">

</head>

<body>

<div class="container">

<h1>DATABASE BREACH DETECTED</h1>

<p>
The central database of the corporation has been corrupted.
Several records have been altered, duplicated, or partially erased.
</p>

<p>
Your team has been recruited as a <b>Database Recovery Specialist</b>.
Your mission is to analyze the datasets and restore the integrity of the system.
</p>

<h2>Mission Rules</h2>

<ul>

<li>You will progress through <b>4 security layers</b>.</li>

<li>Each level contains a corrupted dataset.</li>

<li>Use SQL queries to investigate the database.</li>

<li>Submit the correct numerical answer to unlock the next level.</li>

<li>After solving all levels, combine the answers to unlock the final passcode.</li>

</ul>

<h2>Important</h2>

<p>
Only <b>SELECT</b> queries are allowed in the SQL console.
Any attempt to modify the database will be blocked.
</p>

<br>

<a href="/dashboard">
<button>Start Mission</button>
</a>

</div>

</body>
</html>