<!DOCTYPE html>
<html>
<head>
  <title>Final Authentication</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="container">
  <h1>FINAL AUTHENTICATION</h1>
  <p>Enter the combined passcode (Sum of all level answers).</p>

  <form method="POST" action="/final-submit">
    <input name="passcode" placeholder="Enter Final Code" required />
    <button type="submit">Submit</button>
  </form>
  </div>
</body>
</html>